<button class="btn btn-submit" (click)="showEdit()" style="margin-bottom: 1em;">
    <span [hidden]="!hideCreateTask"> Show </span>
    <span [hidden]="hideCreateTask"> Hide </span>
    create
  </button>
 <app-task-create [hidden]="hideCreateTask" [task]="selectedTask" (taskChange)="save($event)">

  </app-task-create>

<app-task-list [tasks]="tasks" (itemSelected)="select($event)">

  </app-task-list>
  