<button class="btn btn-submit" (click)="showEdit()" style="margin-bottom: 1em;">
    <span [hidden]="!hideCreateUser"> Show </span>
    <span [hidden]="hideCreateUser"> Hide </span>
    create
  </button>
 <app-user-create [hidden]="hideCreateUser" [user]="selectedUser" (userChange)="save($event)">

  </app-user-create>
<app-user-list [users]="users" (itemSelected)="select($event)">

  </app-user-list>
  
