<form (ngSubmit)="saveProject()" [formGroup]="projectForm">
    <h1>
        Create\Edit a project
    </h1>

    <div class="group id-hidden">
        <input type="text" formControlName="id">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Deadline date</label>
        <div class="custom-error required-error" [ngClass]="projectForm.get('id').errors">
            Deadline is required
        </div> 
    </div>

    <div class="group">
        <input type="text" formControlName="name" autocomplete="off">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Name</label>
        <div class="custom-error required-error" [ngClass]="projectForm.get('name').errors">
            Is required
        </div>
        <div class="custom-error minlength-error" [ngClass]="projectForm.get('name')?.errors">
            Must be at least 4 characters long.
        </div>    
    </div>

    <div class="group">
        <input type="text" formControlName="description" autocomplete="off">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Description</label>
    </div>

    <div class="group">
        <input type="date" formControlName="deadline">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Deadline date</label>
        <div class="custom-error required-error" [ngClass]="projectForm.get('deadline').errors">
            Deadline is required
        </div> 
    </div>

    <div class="group id-hidden">
        <input type="date" formControlName="createdAt">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>createdAt date</label>
        <div class="custom-error required-error" [ngClass]="projectForm.get('createdAt').errors">
            createdAt is required
        </div> 
    </div>


    <div class="group">
        <input type="text" formControlName="authorId" autocomplete="off">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Author Id</label>
    </div>

    <div class="group">
        <input type="text" formControlName="teamId" autocomplete="off">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>TeamId</label>
    </div>

    <div class="btn-box">
        <button class="btn btn-submit" type="submit">submit</button>
        <button class="btn btn-cancel" type="button" (click)="revert()">cancel</button>
    </div>
</form>