<div class='project-details' (click)="projectSelected()">
  <span>
    <strong>Name: </strong> {{item.name}}
  </span>
  <span>
    <strong> Description: </strong> {{item.description}}
  </span>
  <div class="project-period">
    <span>
      <strong>Create At: </strong>{{item.createdAt | uaDate}}
    </span>
    <span>
      <strong>DeadLine: </strong>{{item.deadline | uaDate}}
    </span>
  </div>
  <div class="project-period">
    <span>
      <strong> Author Id: </strong>{{item.authorId}}
    </span>
    <span>
      <strong>Team Id: </strong>{{item.teamId}}
    </span>
  </div>
</div>