<button class="btn btn-submit" (click)="showEdit()" style="margin-bottom: 1em;">
    <span [hidden]="!hideCreateProject"> Show </span>
    <span [hidden]="hideCreateProject"> Hide </span>
    create
  </button>
 <app-project-create [hidden]="hideCreateProject" [project]="selectedProject" (projectChange)="save($event)">

  </app-project-create>

<app-projects-list [projects]="projects" (itemSelected)="select($event)">
  
</app-projects-list>
