<div class="project-list">
  <app-project-details *ngFor="let project of projectsList; let index = index" [item]="project" [index]='index' (itemSelected)="projectSelected($event)">

  </app-project-details>
</div>