.user-details
{
  display: grid;
  grid-template-rows: repeat(5,1fr);
  border: 2px solid #4CAF50;
  border-left: 20px solid #4CAF50;
  border-radius: 5px;
  margin-top:2%;
  padding: 1%;
  font-size: 1.2rem;
  font-family: Arial, "Helvetica Neue"
}
.user-period
{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}