<div class='user-details' (click)="userSelected()">
    <span>
      <strong>First name: </strong> {{item.firstName}}
    </span>
    <span>
      <strong>Last Name: </strong> {{item.lastNane}}
    </span>
    <span>
        <strong>Email: </strong> {{item.email}}
      </span>
    <div class="user-period">
      <span>
        <strong>Birthday: </strong>{{item.birthday | uaDate}}
      </span>
      <span>
        <strong>Registered At: </strong>{{item.registeredAt | uaDate}}
      </span>
    </div>
    <div class="user-period">
      <span>
        <strong> Team Id: </strong>{{item.teamId}}
      </span>
    </div>
  </div>