<form (ngSubmit)="saveUser()" [formGroup]="userForm">
    <h1>
        Create\Edit a user
    </h1>

    <div class="group id-hidden">
        <input type="text" formControlName="id">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Deadline date</label>
        <div class="custom-error required-error" [ngClass]="userForm.get('id').errors">
            Deadline is required
        </div> 
    </div>

    <div class="group">
        <input type="text" formControlName="firstName" autocomplete="off">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Name</label>
        <div class="custom-error required-error" [ngClass]="userForm.get('firstName').errors">
            Is required
        </div>
        <div class="custom-error minlength-error" [ngClass]="userForm.get('firstName')?.errors">
            Must be at least 4 characters long.
        </div>    
    </div>

    <div class="group">
        <input type="text" formControlName="lastName" autocomplete="off">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Name</label>
        <div class="custom-error required-error" [ngClass]="userForm.get('lastName').errors">
            Is required
        </div>
        <div class="custom-error minlength-error" [ngClass]="userForm.get('lastName')?.errors">
            Must be at least 4 characters long.
        </div>    
    </div>

    <div class="group">
        <input type="text" formControlName="email" autocomplete="off">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Email</label>
    </div>

    <div class="group">
        <input type="date" [ngModel]="userForm.get('birthday')" formControlName="birthday">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Birthday date</label>
        <div class="custom-error required-error" [ngClass]="userForm.get('birthday')?.errors">
            Birthday date is required
        </div> 
    </div>

    <div class="group id-hidden">
        <input type="date" formControlName="registeredAt">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Registered date</label>
        <div class="custom-error required-error" [ngClass]="userForm.get('registereddAt')?.errors">
            Registered date is required
        </div> 
    </div>

    <div class="group">
        <input type="text" formControlName="teamId" autocomplete="off">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>TeamId</label>
    </div>

    <div class="btn-box">
        <button class="btn btn-submit" type="submit">submit</button>
        <button class="btn btn-cancel" type="button" (click)="revert()">cancel</button>
    </div>
</form>