<form (ngSubmit)="savetask()" [formGroup]="taskForm">
    <h1>
        Create/Edit a task
    </h1>

    <div class="group id-hidden">
        <input type="text" formControlName="id">
        <div class="custom-error required-error" [ngClass]="taskForm.get('id').errors">
        </div> 
    </div>

    <div class="group">
        <input type="text" formControlName="name" autocomplete="off">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Name</label>
        <div class="custom-error required-error" [ngClass]="taskForm.get('name').errors">
            Is required
        </div>
        <div class="custom-error minlength-error" [ngClass]="taskForm.get('name')?.errors">
            Must be at least 4 characters long.
        </div>    
    </div>

    <div class="group">
        <input type="text" formControlName="description" autocomplete="off">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Description</label>
    </div>

    <div class="group id-hidden">
        <input type="date" formControlName="createdAt">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>createdAt date</label>
    </div>

    <div class="group">
        <input type="text" formControlName="state" autocomplete="off">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>State</label>
    </div>

    <div class="group">
        <input type="date" formControlName="finishedAt">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Finished date</label>
        <div class="custom-error required-error" [ngClass]="taskForm.get('finishedAt').errors">
            Finished date is required
        </div> 
    </div>



    <div class="group">
        <input type="text" formControlName="performerId" autocomplete="off">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Author Id</label>
    </div>

    <div class="group">
        <input type="text" formControlName="projectId" autocomplete="off">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>TeamId</label>
    </div>

    <div class="btn-box">
        <button class="btn btn-submit" type="submit">submit</button>
        <button class="btn btn-cancel" type="button" (click)="revert()">cancel</button>
    </div>
</form>