<form (ngSubmit)="saveTeam()" [formGroup]="teamForm">
    <h1>
        Create\Edit a team
    </h1>

    <div class="group id-hidden">
        <input type="text" formControlName="id">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Deadline date</label>
        <div class="custom-error required-error" [ngClass]="teamForm.get('id').errors">
            Deadline is required
        </div> 
    </div>

    <div class="group">
        <input type="text" formControlName="name" autocomplete="off">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Name</label>
        <div class="custom-error required-error" [ngClass]="teamForm.get('name').errors">
            Is required
        </div>
        <div class="custom-error minlength-error" [ngClass]="teamForm.get('name')?.errors">
            Must be at least 4 characters long.
        </div>    
    </div>

    <div class="group id-hidden">
        <input type="date" placeholder=" " formControlName="createdAt">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>createdAt date</label>
        <div class="custom-error required-error" [ngClass]="teamForm.get('createdAt').errors">
            createdAt is required
        </div> 
    </div>

    <div class="btn-box">
        <button class="btn btn-submit" type="submit">submit</button>
        <button class="btn btn-cancel" type="button" (click)="revert()">cancel</button>
    </div>
</form>