<button class="btn btn-submit" (click)="showEdit()" style="margin-bottom: 1em;">
    <span [hidden]="!hideCreateTeam"> Show </span>
    <span [hidden]="hideCreateTeam"> Hide </span>
    create
  </button>
 <app-team-create [hidden]="hideCreateTeam" [team]="selectedTeam" (teamChange)="save($event)">

  </app-team-create>

<app-team-list [teams]="teams" (itemSelected)="select($event)">

  </app-team-list>
  