<nav class="navigation">
  <a routerLink="/projects">
    Projects
  </a>
  <a routerLink="/users">
    Users
  </a>
  <a routerLink="/teams">
    Teams
  </a>
  <a routerLink="/tasks">
    Tasks
  </a>
</nav>