<div class='task-details' *ngIf='item.state==3'  appTaskStateFinished  (click)="taskSelected()">
  <span>
    <strong>Name: </strong> {{item.name}} 
  </span>
  <span>
    <strong> Description: </strong> {{item.description}} 
  </span>
  <span>
    <strong> State: </strong> {{item.state}}
  </span>
  <div class="task-period">
    <span>
      <strong>Create At: </strong>{{item.createdAt | uaDate}}
    </span>
    <span>
      <strong>Finished At: </strong>{{item.finishedAt | uaDate}}
    </span>
  </div>
  <div class="task-period">
    <span>
      <strong> Project Id: </strong>{{item.projectId}}
    </span>
    <span>
      <strong>Perfomer Id: </strong>{{item.performerId}}
    </span>
  </div>
</div>
<div class='task-details' *ngIf='item.state==2'  appTaskStateCanseled  (click)="taskSelected()">
  <span>
    <strong>Name: </strong> {{item.name}} 
  </span>
  <span>
    <strong> Description: </strong> {{item.description}} 
  </span>
  <span>
    <strong> State: </strong> {{item.state}}
  </span>
  <div class="task-period">
    <span>
      <strong>Create At: </strong>{{item.createdAt | uaDate}}
    </span>
    <span>
      <strong>Finished At: </strong>{{item.finishedAt | uaDate}}
    </span>
  </div>
  <div class="task-period">
    <span>
      <strong> Project Id: </strong>{{item.projectId}}
    </span>
    <span>
      <strong>Perfomer Id: </strong>{{item.performerId}}
    </span>
  </div>
</div>