.task-details
{
  display: grid;
  grid-template-rows: repeat(5,1fr);
  border: 2px solid black;
  border-left: 20px solid black;
  border-radius: 5px;
  margin-top:2%;
  padding: 1%;
  font-size: 1.2rem;
  font-family: Arial, "Helvetica Neue"
}
.task-period
{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.isFinished
{
  border: 2px solid green;
  border-left: 20px solid green;
}

.isCanseled
{
  border: 2px solid red;
  border-left: 20px solid red;
}

.isStarted
{
  border: 2px solid yellow;
  border-left: 20px solid yellow;
}