<div class='team-details' (click)="teamSelected()">
    <span>
      <strong>Name: </strong> {{item.name}}
    </span>
    <span>
      <strong>Created At: </strong> {{item.createdAt | uaDate}}
    </span>
  </div>