<div class="task-list">
    <app-task-details *ngFor="let task of tasksList; let index = index" [item]="task" [index]='index' (itemSelected)="taskSelected($event)">
  
    </app-task-details>
  </div>